<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SmartCanteen</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="css" rel="stylesheet" href="src/node_modules/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<style>
  .liste{
    max-height: 200px; 
    overflow: auto;
    font-family: monospace;
  }
  .card{
    margin-left: 5%; 
    margin-right: 5%; 
    width: auto;
  }
  .breadcrumb{
    margin-left: 5%; 
    margin-right: 5%; 
    width: auto;
  }
</style>

<body>
  <div id="app">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sales</a>
          </li>
        </ul>
      </div>
    </nav>

    <br>
    <br>

    <div class="card bg-light mb-3">
      <div class="card-header"><strong>Smart Canteen</strong></div>
      <div class="card-body">
        <h4 class="card-title">Welcome</h4>
        <p class="card-text">SmartCanteen strives to improve foodwaste, by cross referencing customer data with weather reports, to check
          when certain types of food are sold to students.
        </p>
      </div>
    </div>

    <br>

    <div class="card bg-light mb-3">
      <div class="card-header"><strong>Customer Data</strong></div>
      <div class="card-body">

        <ol class="liste">
          <button id="getAllCustomersButton" v-on:click="getAllCustomers" class="btn btn-success">Get</button>
           <li v-for="customer in customers"> Customer Count : {{customer.counter}} <br> Date/Time : {{customer.dateTime}}</li>
           <button id="clearAllCustomerData" v-on:click="clearAllData" class="btn btn-danger">Clear</button>
        </ol>

      </div>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-header"><strong>Weather</strong></div>
      <div class="card-body">

        <ol class="liste">
          <button id="getAllWeatherReports" v-on:click="getWeatherReport" class="btn btn-success">Get</button>
          <li v-for="weather in weatherreport"> Temperature : {{weather.temperature}} <br> Windspeed : {{weather.windspeed}} <br> Precipitation : {{weather.precipitation}} <br> Sunshine : {{weather.sunshine}} </li>
          <button id="clearAllWeather" v-on:click="clearAllWeather" class="btn btn-danger">Clear</button>
        </ol>

      </div>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-header"><strong>Sales</strong></div>
      <div class="card-body">

        <ol class="liste">
          <button id="getSales" v-on:click="getAllSales" class="btn btn-success">Get</button>
          <li v-for="sale in sales"></li>
          <button id="clearAllSales" v-on:click="clearAllSales" class="btn btn-danger">Clear</button>
        </ol>

      </div>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-header"><strong>Products</strong></div>
      <div class="card-body">

        <ol class="liste">
          <button id="getProducts" v-on:click="getAllProducts" class="btn btn-success">Get Products</button>
          <li v-for="getproducts in products" >Product name: {{getproducts.name}} <br> Price: {{getproducts.price}} <br> Protein: {{getproducts.protein}} <br> isHot: {{getproducts.isHot}}</li>
        </ol>

      </div>
    </div>



    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    </ol>

    
  </div>
  <script src="bundle.js"></script>
</body>

</html>